.card {
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    height: 95%;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(237, 156, 124, 0.995);
    border: 2px solid #ED9C7C;
  }
  .card-img-top {
    height: 400px;      
    object-fit: cover;  
  }
  
  
  