/* MovieList.css */

/* MovieList.css */
.card-group {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 10px; /* Adds space between the cards */
  margin: 10px;
  height: 95%;  /* Ensures cards fill the available space */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 420px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #777;
  font-size: 1rem;
}

.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
  padding: 10px;
  text-align: center;
}

.card-footer a {
  text-decoration: none;
  color: #007bff;
  font-size: 0.9rem;
}

.card-footer a:hover {
  text-decoration: underline;
}
